<%- include('partials/header') %>

    <div class="dropzone">Drop your audio file here</div>
    <audio class="audioPlayer" controls src=""></audio>

    <!-- scripts -->
    <script src="/js/main.js"></script>
<%- include('partials/footer') %>